.button {
  width: 408px;
  height: 48px;
  border-radius: 40px;
  background-color: #2E3EDF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.buttonText {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
}
